<!-- FOOTER -->
      <footer>
        <p>
          Derechos Reservados &copy; Emplefono 2013 &middot; Facebook &middot; Twitter &middot; Google+
        </p>
      </footer>
      <!-- /END OF FOOTER -->

    </div><!-- /container -->